<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Support.Forms.Mvc.Pipelines.Initialize.InitializeRoutes, Sitecore.Support.97716.116019" patch:after="*[@type='Sitecore.Forms.Mvc.Pipelines.Initialize.InitializeRoutes, Sitecore.Forms.Mvc']" />
      </initialize>
    </pipelines>
    <wffmAutoMapper type="Sitecore.Forms.Mvc.Services.AutoMapper, Sitecore.Forms.Mvc" singleInstance="true" set:type="Sitecore.Support.Forms.Mvc.Services.AutoMapper, Sitecore.Support.97716.116019" />
  </sitecore>
</configuration>